<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyApp</title>
    <link rel="stylesheet "href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
{% include 'includes/_navbar.html'%}
{% block body %}{%endblock%}

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js">
</script>
<style type="text/css">
body
    {
      background-color:#BDE5F2;
      color:white;
      font-family:"Courier New";
      text-align:center;
    }

.nav
    {
      border:1px solid #ccc;
      border-width:1px 0;
      background-color:#3FBEE8;
      list-style:none;
      margin:0;
      padding:0;
      text-align:center;
    </style>


</html>
